@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border: 1px dashed red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    align-items: center;
    font-size: 13px;
    color: rgb(85, 85, 85);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.header .links ul {
    display: flex;
    list-style: none;
    
}

.header .links ul li:last-child {
    margin-left: 10px;
}


@media (min-width: 700px) {
    .header {
        padding: 10px 50px;
    }
}